<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Document</title>
</head>
<body>
  <div id="header" class="row dashboard-style">
    <h1 class="">Coding Dojo Wall</h1>
    <div class="info">
      <h2 class="">Welcome, {{ user.first_name }}:</h2>
      <a href="/sighting/dashboard" class="btn btn-primary">Add New Sighting</a>
      <a href="/logout"><p class="btn btn-primary">Log Out</p></a>
    </div>
  </div>

  <form action="/sighting/update/{{ sighting.id }}" method="post" class="col dashboard-style">
    <h2>Update Sighting #{{ sighting.id }}: {{ sighting.location }}</h2>
    {% with messages = get_flashed_messages(category_filter=['sighting']) %}
      {% if messages %}
      <div class="alert alert-danger" role="alert">
        <strong>Incorrect</strong>
          {% for message in messages %}
          <p>{{message}}</p>
          {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
    <hr class="mb-4">

    <p class="row">Location:</p>
    <input type="text" name="location" value="{{ sighting.location }}">

    <p class="row">Description:</p>
    <textarea name="description" cols="50" rows="3" style="border-radius: 10px;" class="form-control">{{ sighting.description }}</textarea>
    
    <p class="row">Date Made:</p>
    <input type="date" name="date_made" class="form-control" value="{{ sighting.date_made }}"> 

    <p class="row">Number of Sasquach:</p>
    <input type="number" name="number_of" value="{{ sighting.number_of }}">
    
    <input type="submit" name="Submit" class="btn btn-primary">
  </form>

</form>
</body>
</html>